@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-radius: 10px !important;
    overflow-x: hidden !important;
  }
  body {
    margin: 0;
    min-height: 100vh;
    background-color: #e3e3e3;
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='5' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%234f4f51' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body {
    @apply bg-white text-black p-5 font-poppins;
  }
  h4 {
    display: -webkit-box;
    max-width: 400px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@layer components {
  @font-face {
    font-family: myFont;
  }
  .videocard img {
    height: 150px;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .maincontainer {
    @apply bg-white p-5;
  }
}
